{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-manufacturer" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>Locations</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-manufacturer" class="form-horizontal">
          
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-name">Name</label>
                <div class="col-sm-10">
                  <input type="text" name="name" value="{{ name }}" placeholder="Enter Name" id="input-name" class="form-control" />
                  {% if error_name %}
                  <div class="text-danger">{{ error_name }}</div>
                  {% endif %}</div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-adress">Adress</label>
                <div class="col-sm-10">
                  <input type="text" name="adress" value="{{ adress }}" placeholder="Enter Adress" id="input-adress" class="form-control" />
                  {% if error_adress %}
                  <div class="text-danger">{{ error_adress }}</div>
                  {% endif %}</div>
              </div>
               <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-phone">Phone</label>
                <div class="col-sm-10">
                  <input type="text" name="phone" value="{{ phone }}" placeholder="Enter Phone" id="input-phone" class="form-control" />
                  {% if error_phone %}
                  <div class="text-danger">{{ error_phone }}</div>
                  {% endif %}</div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-lattitude">Lattitude</label>
                <div class="col-sm-10">
                  <input type="text" name="lattitude" value="{{ lattitude }}" placeholder="Enter Lattitude" id="input-adress" class="form-control" />
                  {% if error_lattitude %}
                  <div class="text-danger">{{ error_lattitude }}</div>
                  {% endif %}</div>
              </div>
               <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-longitude">Longitude</label>
                <div class="col-sm-10">
                  <input type="text" name="longitude" value="{{ longitude }}" placeholder="Enter Longitude" id="input-longitude" class="form-control" />
                  {% if error_longitude %}
                  <div class="text-danger">{{ error_longitude }}</div>
                  {% endif %}</div>
              </div>
             
             
             
            </div>
           
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}